services:

  redis:
    image: redis:7-alpine
    container_name: pos_redis
    ports:
      - "6379:6379"
    restart: always
    networks:
      - pos_network

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    ports:
      - "4000:4000"
    restart: always
    depends_on:
      redis:
        condition: service_started

    networks:
      - pos_network
    environment:
      DATABASE_URL: postgresql://doadmin:AVNS_iNZVQYj-RX036W3B0oS@retail-craft-db-postgres-do-user-24373738-0.k.db.ondigitalocean.com:25060/pos_db?sslmode=require
      APP_URL: ${APP_URL:-http://localhost:3000}
      API_URL: ${API_URL:-http://localhost:4000}
    volumes:
      - ./:/app
      - /app/node_modules
      - /app/apps/api/node_modules
      - /app/apps/web/node_modules
      - /app/apps/api/dist
      - ./uploads:/app/apps/api/uploads

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    ports:
      - "127.0.0.1:3000:3000"
    restart: always
    depends_on:
      api:
        condition: service_started
    networks:
      - pos_network
    environment:
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL:-http://localhost:4000}
      INTERNAL_API_URL: http://api:4000
    volumes:
      - ./:/app
      - /app/node_modules
      - /app/apps/web/node_modules
      - /app/apps/api/node_modules
      - /app/apps/web/.next

networks:
  pos_network:
    driver: bridge
