services:
  postgres:
    image: postgres:15-alpine
    container_name: pos_postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: pos_db
    restart: always
    volumes:
      - ./docker/postgres:/var/lib/postgresql/data
    networks:
      - pos_network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U admin -d pos_db" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: pos_redis
    ports:
      - "6379:6379"
    restart: always
    networks:
      - pos_network

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    ports:
      - "4000:4000"
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started

    networks:
      - pos_network
    environment:
      DATABASE_URL: postgresql://admin:password@postgres:5432/pos_db

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    ports:
      - "127.0.0.1:3000:3000"
    restart: always
    depends_on:
      api:
        condition: service_started
    networks:
      - pos_network
    environment:
      NEXT_PUBLIC_API_URL: https://app.retailcraft.com.ng/api

networks:
  pos_network:
    driver: bridge
